/src/GraamFlows.Api/bin
/src/GraamFlows.Api/obj
/src/GraamFlows.Core/bin
/src/GraamFlows.Core/obj
/src/GraamFlows.Domain/bin
/src/GraamFlows.Domain/obj
/src/GraamFlows.Objects/bin
/src/GraamFlows.Objects/obj
/src/GraamFlows.Util/obj
/src/GraamFlows.Util/bin
